$sgv_hover:#42424d;
$points:#23232d;
$grey_text:#92929d;
$border:#d1d1d7;
$plus_hover:#e8e8ec;
$white:#FFFFFF;
$bg:#EFEFF2;
$button_bg:#f8f8f8;
$side_text:#c2c2ca;
$text:#72727D;
$title:#32323d;
$side_bg:#23232C;
$blue:#007feb;
$blue_hover:#0b66cd;
$black:#000;
$box_shadow_nav:rgba(25,25,34,.16);
$box_shadow_plus:rgba(25,25,34,.24);
$box_shadow_top:rgba(25, 25, 34, .12);
$trans:0.15s;